@import "../../Assets/Styles/Variables.scss";

td {
  width: unset;
}

.table-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
  margin: 1rem;
  transition: 1s;
}

.spacer {
  width: 1rem;
}

.spacer2 {
  display: none;
}

.datePicker {
  cursor: pointer;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.582);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

table {
  text-align: left;
  border: 1px solid;
  td {
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 0.3rem;
  }
  border-bottom: none;
  border-right: none;
}

.mini_table {
  width: 100%;
}

@media #{$media-tablet} {
  .spacer {
    display: none !important;
  }
}

@media #{$media-mobile} {
  .table-wrapper {
    font-size: 0.7rem;
    min-width: unset;
    width: calc(100% - 4rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .spacer {
    display: none;
  }
}
