td {
  width: unset;
  border: 1px solid black;
}

.table-wrapper {
  display: flex;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
  margin: 1rem;
  transition: 1s;
  min-width: 850px;
}

.spacer {
  width: 1rem;
}

.datePicker:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.582);
}
