/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 0.5rem;
  font-size: 16px;
  height: 3rem;
  margin-left: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0.5rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

input {
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.controlWrapper {
  background: rgba(255, 255, 255, 0.47);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 1rem;
  padding-bottom: 6rem;
}
