@import "./Assets/Styles/Variables.scss";

.App {
  margin: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.47);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  .graphPanel {
    width: calc(100% - 4rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
    background: rgba(255, 255, 255, 0.47);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    .graphWrapper {
      width: 32%;
      min-width: 250px;
      display: inline-block;
    }
  }
  .dataPanel {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

@media #{$media-tablet} {
  .App {
    flex-direction: column;
  }
}
