@import "./Assets/Styles/Variables.scss";

* {
  font-family: $poppins !important;
}

body {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
